* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: grey;
  display:flex;
  justify-content: center;
  height: 100vh;

}

.container{
  display:flex;
  height: 90%;
  width:80%;

}

/* left_side */

.left_side{
  display:flex;
  flex-direction: column;
  width: 30%;
  background-color: white;
}

.top_left{
  display:flex;
  justify-content:space-between;
  width: 100%;
  height:50px;
  background-color: green;
}
.avatar_left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.avatar_left img{
  width:40px;
  border-radius: 50px;

}

.top_left_icons{
display: flex;
justify-content: flex-end;
align-items: center;
height: 100%;
font-size: 30px;
margin-right: 10px;
}

.top_left_icons i{
  padding:10px;
  color:  #B1B1B1;
}

.bell_box{
  display: flex;
  justify-content: space-between;
  width:100%;
  height:80px;
  background-color: #8edafb;
}

.bell_left{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 10px;

}

.bell_left i{
height:45px;
width:45px;
line-height: 45px;
font-size:20px;
border-radius: 50px;
padding-left: 10px;
color:#8edafb;
background-color: white;
}
.notifications, .notifications_desktop{
  padding-left: 10px;
}

.notifications_desktop{
  font-size:15px;
  color: #6fa6c0;
}

.search_bar_left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height:50px;
  background-color: white;
}

.search_bar_left input{
  width:80%;
  height:30px;
  line-height:30px;
  padding: 10px 20px;

}

/* contatti */
.contact_names{
  display:flex;
  justify-content: flex-start;
  align-items:center;
  height:70px;
}
.contact{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10px;
}

.contact_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}
.contact_names img{
  width:40px;
  border-radius: 50px;
}
/* right side */

.right_side{
  display: flex;
  flex-direction: column;
  width:70%;
}

.top_right{
  display:flex;
  justify-content:space-between;
  width: 100%;
  height:50px;
  background-color: pink;
}
.avatar_right{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.avatar_right img{
  width:40px;
  border-radius: 50px;
}

.top_right_icons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin-right: 10px;
  color: #B1B1B1;
  font-size: 1.4rem;
}

.top_right_icons i{
  cursor: pointer;
  padding: 8px;
}
/* chat */

.chat{
  background-image: url("../img/mine.jpg");
  height:100%;
  width:100%;
  overflow-y: auto;
}

.sent {
  position: relative;
  float: right;
  width: 120px;
  height: 50px;
  background: #D5FABA;
  border-radius: 5px;
  margin: 10px 50px 10px 0;
  color: #000;
  clear: both;
}

.received {
  position: relative;
  float: left;
  width: 120px;
  height: 50px;
  background: #FFF;
  border-radius: 5px;
  margin: 10px 0 10px 50px;
  color: #000;
  clear: both;
}

.message {
  text-align: left;
  margin: 10px 0 0 15px;
  font-size: 0.8rem;
  font-weight: 700;
}

.message-timer {
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin-right: 5px;
  font-size: 0.5rem;
  font-weight: 700;
  color: rgba(0,0,0, 0.5)
}

/* footer */
.footer_right {
  width: 100%;
  height: 65px;
  min-height: 65px;
  background: #F3EEEB;
}

.input-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.input-div i {
  cursor: pointer;
  padding: 8px;
  margin: 20px;
  color: #6C7376;
  font-size: 1.4rem;
}


.send-text {
  width: 80%;
  height: 50px;
  margin: 30px auto;
  padding: 10px 30px;
  line-height: 50px;
  border: 0;
  border-radius: 5px;
  background: rgba(255,255,255, 0.5);
  color: #B1B1B1;
}
