* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: grey;
  display:flex;
  justify-content: center;
  height: 100vh;
}

.container{
  display:flex;
  height: 90%;
  width:80%;
  background-color: red;
}

/* left_side */

.left_side{
  display:flex;
  flex-direction: column;
  width: 30%;
  background-color: pink;
}

.top_left{
  display:flex;
  justify-content:space-between;
  width: 100%;
  height:50px;
  background-color: green;
}
.avatar_left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.avatar_left img{
  width:40px;
  border-radius: 50px;

}

.top_left_icons{
display: flex;
justify-content: flex-end;
align-items: center;
height: 100%;
font-size: 30px;
margin-right: 10px;
}

.top_left_icons i{
  padding:10px;
  color:  grey;
}

.bell_box{
  display: flex;
  justify-content: space-between;
  width:100%;
  height:80px;
  background-color: #8edafb;
}

.bell_left{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 10px;

}

.bell_left i{
height:45px;
width:45px;
line-height: 45px;
font-size:20px;
border-radius: 50px;
padding-left: 10px;
color:#8edafb;
background-color: white;
}
.notifications, .notifications_desktop{
  padding-left: 10px;
}

.notifications_desktop{
  font-size:15px;
  color: #6fa6c0;
}

.search_bar_left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height:50px;
  background-color: white;
}
